#This file is a reasonable defaults file for sawtooth 1.1

affinity:
  #Normally set this as disabled.
  # If false - no effect, validators are run on every ( or in the case of devmode any one)
  # node in the cluster.
  # If True, then validators will be deployed only to k8s nodes with the label
  #       app={{.sawtooth.networkName}}-validator
  enabled: false

# This is optional,
# if false the values are ignored,
# if true then there should exist a secret within the namespace
#   of the given names, multiple values are acceptable
imagePullSecrets:
  enabled: true
  value:
    - name: regcred
sawtooth:
  opentsdb:
    db: metrics
    url:
  minReadySeconds: 120
  maxUnavailable: 1
# .Values.sawtooth.containers.validator.args
  containers:
    jsonapi:
      packageReloadInterval: "5s"
      waitTimeSeconds: 0
      env:
      args:
      imagePullPolicy: IfNotPresent
    timekeeper:
      args:
    block_info:
      args:
    daml_trigger:
      env:
      imagePullPolicy: IfNotPresent
    daml_tp:
      args:
      env:
    identity_tp:
      args:
    rest_api:
      args:   
    settings_tp:
      args:   
    validator:
      args:
      env:
      imagePullPolicy: Always
    monitor:
      imagePullPolicy: Always
  ports:
    sawnet: 8800
    consensus: 5050
    sawcomp: 4004
    rest: 8008
    damlrpc: 39000
    jsonapi: 8080
    trigger_http_port: 8081
  livenessProbe:
    enabled: false
    initialDelaySeconds: 300
    periodSeconds: 120
    active: "false"
    exitSignals: "block-info-tp"
  heartbeat:
    interval: 300
  permissioned: false
  #This MUST be chosen by the user
  # Follows DNS naming rules
  namespace: prod
  # This MUST be chosen by the user.
  # Follows DNS naming rules
  networkName: mynetwork8
  # serial or parallel
  scheduler: serial
  # 100 - DevMode, 200 - PoET,300 - Raft, 400 - pbft
  # Engines can be enabled, but they aren't active unless they are selected
  # as the consensus algorithm.
  consensus: 200
  genesis:
    # If true, and the cluster is starting for the first time, then
    # a node will be selected to create and submit the genesis block
    # the node chosen will be the "alpha" node, the one node which has no
    # other SEEDS or PEERS configured dynamically
    enabled: true
    # The seed is an arbitrary string which identifies a given genesis
    # If the data of a given set of nodes is to be wiped out, change
    # this value.
    seed: 9a2de774-90b5-11e9-9df0-87e889b0f1c9
  # Dynamic Peering should default to false, since it is a bit unreliable
  # PBFT and RAFT should have dynamic peering
  dynamicPeering: false
  externalSeeds: []
  daml:
    trigger:
      extraArgs:
      darId:
      darFile:
      secretKey:
      minRestartInterval:
      maxRestartInterval:
      timeParam:
      ttl: 30
      jdbcConfig:
      extraVolumeMounts:
      extraVolumes:
    maxInboundMessageSize: 10000000
    maxOpsPerBatch: 3
    maxOutstandingBatches: 1
    # default daml to false at the moment
    enabled: true
    extra_args:
      enabled: false
      arg_str: some args
  volumes:
    # This MUST be set, and SHOULD be presented to the user as an option, as it is a likely area
    # of customization
    hostPathBaseDir: /var/lib/btp/
  # This is an arbitrary cool down period to wait for validators to initialize
  # before starting any client operations
  client_wait: 90
  customTPs:
          # A list of basic container definitions
          #    - name: intkey-tp
          #      image: "blockchaintp/sawtooth-intkey-tp-go:1.0.5"
          #      command: [ "bash", "-c" ]
          #      args: [ "intkey-tp-go -v --connect tcp://localhost:4004" ]

jsonapi:
  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: chart-example.local
        paths:
          - /

trigger:
  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: chart-example.local
        paths:
          - /


# The below are mostly controlled by BTP, although an "advanced" option to customize them may be
# presented
images:
  postgres: postgres:11
  daml_trigger: blockchaintp/daml-trigger-service:BTP2.1.0rc11
  daml_json_api: blockchaintp/daml-json-api:BTP2.1.0rc11
  daml_rpc: blockchaintp/sawtooth-daml-rpc:BTP2.1.0rc11
  daml_tp: blockchaintp/sawtooth-daml-tp:BTP2.1.0rc11
  timekeeper: blockchaintp/timekeeper:BTP2.1.0rc11
  devmode_engine: blockchaintp/sawtooth-devmode-engine-rust:BTP2.1.0rc11
  pbft_engine: blockchaintp/sawtooth-pbft-engine:BTP2.1.0rc11
  poet_cli: blockchaintp/sawtooth-poet-cli:BTP2.1.0rc11
  poet_engine: blockchaintp/sawtooth-poet-engine:BTP2.1.0rc11
  poet_validator_registry_tp: blockchaintp/sawtooth-poet-validator-registry-tp:BTP2.1.0rc11
  raft_engine: blockchaintp/sawtooth-raft-engine:BTP2.1.0rc11
  block_info_tp: blockchaintp/sawtooth-block-info-tp:BTP2.1.0rc11
  identity_tp: blockchaintp/sawtooth-identity-tp:BTP2.1.0rc11
  intkey_tp: blockchaintp/sawtooth-intkey-tp-go:BTP2.1.0rc11
  settings_tp: blockchaintp/sawtooth-settings-tp:BTP2.1.0rc11
  shell: blockchaintp/sawtooth-shell:BTP2.1.0rc11
  validator: blockchaintp/sawtooth-validator:BTP2.1.0rc11
  rest_api: blockchaintp/sawtooth-rest-api:BTP2.1.0rc11
